@media only screen and (min-width: 768px) {
    // dekstop
    
    .page {
        //flex-direction: row-reverse;
        display: flex;

        .mobile {
            display: initial;
        }

        #home {
            flex: 60%;
            p, span {
                font-size: 18px!important;
            }
        }
        aside {
            flex: 40%;
        }

        #secondary {
            height: unset!important;
            display: unset!important;
            scroll-snap-type: unset!important;

            .slideboxes {
                scroll-snap-align: unset!important;
                flex: unset!important;
                width: 100%!important;
                height: unset!important;

                .card {
                    height: unset!important;

                    p {
                        padding-top: 0;
                    }
                }
            }
        }


    }

    body {
        .main {
            height: 95vh;
            border: 1px solid $main;
            border-radius: 30px;
            margin-top: 1vh;
        }
    }

    nav {
        margin-right: 10%;
        margin-top: 0.67em;
        display: initial!important;
        text-align: center;
        ul {
            padding-inline-start: 0px!important;
            li {
                margin-left: 1%;
                margin-right: 1%;
                font-size: 1.35em;
                font-weight: 500;
                a {
                    a:active {
                        text-decoration: underline;
                    }
                }
            }
            li:not(:last-child) { // For correct spacing
                margin-right: 3%;
            }
        }
    }

    footer {
        display: none!important;
    }

    #content {
        display: flex;
        #main {
            flex: 60%;
        }
        #secondary {
            flex: 40%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}