@media only screen and (min-width: 768px) {
    // dekstop



    .mobile {
        display: none!important;
    }
    .desktop {
        display: initial!important;
    }

    .main {
        width: unset!important;
    }
    #cv, #ljus, #kontakt {
        p {
            max-width: 60%;
        }
    }

    // Homepage specific
    #home {
        display: flex;
        #mainflex {
            #profilebox {
                max-width: 267px;
                #icons {
                    width: 100%!important;
                    justify-content: space-evenly!important;
                }
            }
            display: flex;
            margin-left: 10%;
            #textbox {
                margin-top: 3%;
            }
        }
    }

    // All pages
    body {
        background-color: none;

        h1 {
            font-size: 3em;
        }
        p, span, label, i {
            font-size: 1.5em!important;
        }
        #icons {
            font-size: 15px!important;
        }

        .mgleft {
            margin-left: 20%;
        }
    
        #profilebox {
            margin-top: -5%;
        }
        #profilepic {
            height: 40vh!important;
        }
    
        #textbox {
            max-width: 350px;
        }
    
        header {
            display: initial!important;
            position: initial;
            right: initial;
            top: initial;
            nav {
                margin-right: 3%;
                margin-top: 0.67em;
                display: initial!important;
                text-align: right;
                ul {
                    margin-top: 3%;
                    padding-inline-start: 0px!important;
                    li {
                        display: inline-block!important;
                        margin-right: 1.5%;
                        a {
                            a:active {
                                text-decoration: underline;
                            }
                        }
                    }
                    li:not(:first-child) {
                        margin-top: initial;
                    }
                    
                    li:last-child { // For correct spacing
                        margin-right: 3%;
                    }
                }
            }
        }

        footer {
            min-width: 350px;
            width: 25%!important;
            padding-left: 23%!important;
            height: 12vh;
        }
    }
}