@media only screen and (min-width: 768px) {
    // dekstop

    p, span, label, i {
        font-size: 1.5em!important;
    }

    #icons {
        font-size: 15px!important;
    }

    h2 {
        text-align: left!important;
    }

    .mobile {
        display: initial;
    }

    // Homepage
    #home {
        display: flex;
        #mainflex {
            margin-left: 10%;
            #textbox {
                margin-top: 3%;
            }
        }
    }

    // All pages
    body {
        background-color: none;

        .mgleft {
            margin-left: 20%;
        }


        h1 {
            font-size: 3em;
        }
    
        #profilebox {
            margin-top: -5%;
        }
        #profilepic {
            height: 40vh!important;
        }
    
        #textbox {
            max-width: 350px;
        }
    
        header {
            display: initial!important;
            nav {
                margin-right: 3%;
                margin-top: 0.67em;
                display: initial!important;
                text-align: right;
                ul {
                    margin-top: 3%;
                    padding-inline-start: 0px!important;
                    li {
                        margin-right: 1.5%;
                        font-size: 1.35em;
                        font-weight: 500;
                        a {
                            a:active {
                                text-decoration: underline;
                            }
                        }
                    }
                    
                    li:last-child { // For correct spacing
                        margin-right: 3%;
                    }
                }
            }
        }
    }
}


/*
@media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}*/