footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;

    width: 100%;
    height: 8vh;

    $footer-border: 2px solid black;

    border-top: $footer-border;
    border-bottom: $footer-border;

    display: flex;
    #dleft {
        margin-left: 2%;
    }
    #dright {
        margin-right: 2%;
    }
    #dmiddle p {
        // https://tympanus.net/codrops/2014/01/21/dot-navigation-styles/
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    div {
        flex: 33%;

        img {
            margin-top: 5%;
        }
    }


}