footer {
    
    padding-top: 1vh;
    padding-left: 23%;
    
    background-color: $red;
    position: fixed;
    left: 0;
    bottom: 0;

    width: 25%;
    height: 14vh;

    i {
        padding-left: 5%;
    }

    #footerdiv {
        margin-top: 5%;
        a {
            text-decoration: none;
        }

        .btn-inverted {
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}