#homepage {
    #home {
        display: block;
        #mainflex { // Profile pic and text-box
            #profilebox {
                width: fit-content;

                #icons {
                    width: 92%;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
            p {
                font-size: 17px;
            }
            justify-content: space-around;
            margin-left: 2%;
            margin-right: 2%;
            div {
                margin-right: 1%;
                margin-left: 1%;
                .profilepic {
                    margin-top: 10%;
                    width: auto;
                    max-width: 267px;
                    height: 30vh;

                    #icons {
                        font-size: 18px;
                    }
                }
            }
        }
 
    }
}