#homepage {
    #home {
        
        display: block;
        h1 {
            color: $blue;
        }
        #mainflex { // Profile pic and text-box
            p {
                font-size: 17px;
            }
            justify-content: space-around;
            margin-left: 2%;
            margin-right: 2%;
            div {
                margin-right: 1%;
                margin-left: 1%;
                #profilepic {
                    margin-top: 10%;
                    width: 100%;
                    max-width: 267px;
                    height: 20vh;

                    #icons {
                        font-size: 18px;
                    }
                }
            }
        }
 
    }
}