#kontakt {
    //background-color: #E8DCFF;
    background-color: $main;
    
    .pageinside {
        margin-left: 2%;
        margin-right: 2%;
        h2 {
            text-align: center;
        }
    }



}