$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$animate: all 0.2s ease-in-out;

//@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//@import url("https://use.typekit.net/fpx7bqw.css");

@import 'colors';
@import 'admin';

.flex {
    display: flex;
}
.centertxt {
    text-align: center;
}
.mobile {
    display: initial;
}
.desktop {
    display: none;
}
.underline {
    text-decoration: underline;
}

body {
    height: 100%;
    margin: 0!important;
    padding: 0!important;


    // Start of text
    font-family: kepler-std, serif;
    font-style: normal;
    font-weight: 400;
    h1, h2 {
        font-family: didoni-urw, 'Times New Roman', serif;
        font-weight: initial;
    }
    h1 {
        color: $blue;
    }
    h1:first-of-type, h2 {
        margin-top: 0;
        padding-top: 0.67em;
    }
    h2 {
        color: $purple;
        font-size: 2em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    p {
       line-height: 2; 
    }
    // end of text

    .main {
        margin-top: 1%;
        margin-bottom: 5%;
        padding-bottom: 7%;


        margin-left: 5%;
        width: 70%;
    }

    .main::before {
        background-color: $background;
        content: "";
        position: absolute;
        left: 10%;

        width: 65%;
        height: 100%;
        padding-bottom: 3%;
        z-index: -100;
    }

    header {
        position: fixed;
        right: 5%;
        top: 0;


        ul {
            list-style: none;

            li {
                font-size: 1.35em;
                font-weight: 500;
            }
            li:not(:first-child) {
                margin-top: 20%;
            }
        }
    }



    // ANIMATION
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .page {
        display: none;
        width: 100%;
        animation: fade 0.8s;
    }

    @import 'home';
    @import 'kontakt';
    @import 'cv';

    span:hover {
        // https://codepen.io/mxttsco/pen/KgodYm
        transition: $animate;
        transition-duration: 0.75s;
    }

    .btn {
        margin-right: 1%;
        border: 1px solid $purple;
        color: white; 

        background-color: $purple;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 8px 14px;
        .btn-link {
            color: $dark;
            text-decoration: none;
        }
        .btn-icon {
            width: 28px;
            height: auto;
            vertical-align: middle;
        }
    }
    .btn-inverted {
        color: $purple;
        background-color: white;
        border: 1px solid white;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 50px;
        padding: 10px 16px;


    }

    @import 'footer';
}

#ljus {
    iframe {
        width: 50%;
        min-height: 300px;
        height: auto
    }
}


@import 'desktop';