$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$animate: all 0.2s ease-in-out;

//@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

//@import url("https://use.typekit.net/fpx7bqw.css");

@import 'colors';
@import 'admin';

.flex {
    display: flex;
}
.centertxt {
    text-align: center;
}

body {
    height: 100vh;
    margin: 0!important;
    padding: 0!important;


    // Start of text
    font-family: kepler-std, serif;
    font-style: normal;
    font-weight: 400;
    h1, h2 {
        font-family: didoni-urw, 'Times New Roman', serif;
        font-weight: initial;
    }
    h1:first-of-type, h2 {
        margin-top: 0;
        padding-top: 0.67em;
    }
    p {
       line-height: 2; 
    }
    // end of text


    nav {
        display: none;
        ul {
            list-style: none;

            li {
                display: inline-block;
            }
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .page {
        display: none;
        width: 100%;
        animation: fade 0.8s;

        h2 {
            color: $purple;
            text-align: center;
            font-size: 2em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }

    @import 'home';
    @import 'kontakt';
    @import 'cv';


    nav ul li span:active { // TODO: Do this with JavaScript
        text-decoration: underline;
    }
    span:hover {
        // https://codepen.io/mxttsco/pen/KgodYm
        transition: $animate;
        transition-duration: 0.75s;
    }
    .mobile {
        display: none;
    }

    .btn-link {
        color: $dark;
        text-decoration: none;
    }
    .btn {
        margin-right: 1%;
        border: 1px solid white;
        color: white;

        background-color: $purple;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 8px 14px;

        .btn-icon {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
    }

    @import 'footer';
}


@import 'desktop';