table {
  border-collapse: collapse; }
  table th, table td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC; }
  table tr:hover {
    background-color: #EEE; }
  table .progression, table .link {
    text-align: center; }

#admin table td a, #admin table td a:active, #admin table td a:hover, #admin table td a:visited {
  color: #c60b7e; }

#admin table td a:active, #admin table td a:hover {
  color: #f542b0; }

#admin table a img {
  width: 32px;
  height: 32px; }

#admin form label {
  font-weight: bold; }

#admin form input[type=submit] {
  background-color: #c60b7e;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  padding: 12px 20px; }

.flex {
  display: flex; }

body {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-weight: 300; }
  body h1, body h2 {
    font-family: Lora, 'Times New Roman', serif;
    font-weight: bold; }
  body h1:first-of-type, body h2 {
    margin-top: 0;
    padding-top: 0.67em; }
  body p {
    line-height: 2; }
  body nav {
    display: none; }
    body nav ul {
      list-style: none; }
      body nav ul li {
        display: inline-block;
        /*
                a {
                    text-decoration: none;
                }*/ }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  body .page {
    display: none;
    width: 100%;
    animation: fade 0.8s; }
    body .page h2 {
      text-align: center;
      font-size: 2em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px; }
  body .main {
    height: 46vh; }
  body #homepage #home {
    background-color: #FFE8DC; }
    body #homepage #home h1 {
      text-align: center;
      color: #575757; }
    body #homepage #home #mainflex {
      justify-content: space-around;
      margin-left: 2%;
      margin-right: 2%; }
      body #homepage #home #mainflex p {
        font-size: 17px; }
      body #homepage #home #mainflex div {
        margin-right: 1%;
        margin-left: 1%; }
        body #homepage #home #mainflex div img {
          width: 100%;
          height: 20vh; }
  body #homepage #secondary {
    height: 46vh;
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory; }
    body #homepage #secondary p:first-of-type {
      padding-top: 1em;
      margin-top: 0; }
    body #homepage #secondary .slideboxes {
      scroll-snap-align: start;
      flex: 0 0 auto;
      width: 100%;
      height: 100%; }
      body #homepage #secondary .slideboxes .card {
        border-radius: 25px;
        height: auto;
        width: 80%;
        margin: 5%;
        border: 20px solid #FFE8DC;
        background-color: white; }
        body #homepage #secondary .slideboxes .card h3 {
          text-align: center; }
        body #homepage #secondary .slideboxes .card p {
          margin: 5%; }
  body #kontakt {
    background-color: #E8DCFF; }
    body #kontakt .pageinside {
      margin-left: 2%;
      margin-right: 2%; }
      body #kontakt .pageinside h2 {
        text-align: center; }
  body nav ul li span:active {
    text-decoration: underline; }
  body span:hover {
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s; }
  body .mobile {
    display: none; }
  body .btn {
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 14px; }
  body footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 8vh;
    display: flex; }
    body footer #dleft {
      margin-left: 2%; }
    body footer #dright {
      margin-right: 2%; }
    body footer #dmiddle {
      height: 30px;
      margin-top: calc(8vh - 30px); }
    body footer .dot {
      cursor: pointer;
      width: 10px;
      height: 10px;
      margin: 0 2px;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      background-color: #bbb; }
    body footer .active, body footer .dot:hover {
      background-color: #717171; }
    body footer div {
      flex: 33%; }
      body footer div img {
        margin-top: 5%; }

@media only screen and (min-width: 768px) {
  nav {
    display: initial !important; }
  #content {
    display: flex; }
    #content #main {
      flex: 60%; }
    #content #secondary {
      flex: 40%; } }
