table {
  border-collapse: collapse; }
  table th, table td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #CCC; }
  table td a, table td a:active, table td a:hover, table td a:visited {
    color: #c60b7e; }
  table td a:active, table td a:hover {
    color: #f542b0; }
  table tr:hover {
    background-color: #EEE; }
  table .progression, table .link {
    text-align: center; }
  table a img {
    width: 32px;
    height: 32px; }

form label {
  font-weight: bold; }

form input[type=submit] {
  background-color: #c60b7e;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  padding: 12px 20px; }

.flex {
  display: flex; }

body {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Merriweather', 'Times New Roman', serif;
  font-weight: 300; }
  body h1, body h2 {
    font-family: Lora, 'Times New Roman', serif;
    font-weight: bold; }
  body h1:first-of-type {
    margin-top: 0;
    padding-top: 0.67em; }
  body p {
    line-height: 2; }
  body nav {
    display: none; }
    body nav ul {
      list-style: none; }
      body nav ul li {
        display: inline-block;
        /*
                a {
                    text-decoration: none;
                }*/ }
  body .main {
    height: 46vh; }
  body .subpage {
    width: 0%; }
  body #home {
    width: 100%;
    background-color: #FFE8DC; }
    body #home h1 {
      text-align: center;
      color: #575757; }
    body #home #mainflex {
      justify-content: space-around;
      margin-left: 2%;
      margin-right: 2%; }
      body #home #mainflex p {
        font-size: 17px; }
      body #home #mainflex div {
        margin-right: 1%;
        margin-left: 1%; }
        body #home #mainflex div img {
          width: 100%;
          height: 20vh; }
  body #secondary {
    height: 46vh;
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory; }
    body #secondary p:first-of-type {
      padding-top: 1em;
      margin-top: 0; }
    body #secondary .page {
      scroll-snap-align: start;
      flex: 0 0 auto;
      width: 100%;
      height: 100%; }
      body #secondary .page .card {
        border-radius: 25px;
        height: auto;
        width: 80%;
        margin: 5%;
        border: 20px solid #FFE8DC;
        background-color: white; }
        body #secondary .page .card h3 {
          text-align: center; }
        body #secondary .page .card p {
          margin: 5%; }
  body nav ul li span:active {
    text-decoration: underline; }
  body span:hover {
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s; }
  body .mobile {
    display: none; }
  body .btn {
    border: 1px solid white;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 14px; }
  body footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 8vh;
    /*
    $footer-border: 2px solid black;
    border-top: $footer-border;
    border-bottom: $footer-border;
    */
    display: flex; }
    body footer #dleft {
      margin-left: 2%; }
    body footer #dright {
      margin-right: 2%; }
    body footer #dmiddle p {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0; }
    body footer div {
      flex: 33%; }
      body footer div img {
        margin-top: 5%; }

@media only screen and (min-width: 768px) {
  nav {
    display: initial !important; }
  #content {
    display: flex; }
    #content #main {
      flex: 60%; }
    #content #secondary {
      flex: 40%; } }
